.panel-title{
    position: relative;
}
.panel-title .down{
    position: absolute;
    right: 0;
    top:0;
}

.panel-title .down.up{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); 
}